beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
pymongo
python-decouple
python-dotenv
requests
soupsieve
urllib3
Werkzeug
